.container
    h1
        a(href='/')= title

    form(action='/query', method='post')
        .form-group.address
            label Find bathroom near
            input.form-control.start-address(type='text', name='startAddress', placeholder='Enter address', required)
        .form-group.radius
            label Search range
            input.form-control.search-radius(type='number', name='searchRadius', value='500', required)
        .form-group.submit
            input.form-control.btn.btn-primary.submit-button(type='submit', value='Search')