.container
    h1= title

    form(action='/query', method='get')
        .form-group.address
            label Find bathroom near
            input.form-control.start-address(type='text', placeholder='Enter address')
        .form-group.radius
            label Search range
            input.form-control.search-radius(type='number', placeholder='Default value...')
        .form-group.submit
            input.form-control.btn.btn-primary.submit-button(type='submit', value='Search')