.navbar.navbar-default
  .container-fluid
    .navbar-header
      a(class="navbar-brand" href="/")= title

    if (!user)
      ul(class="nav navbar-nav")
        li
          a(href="/login") Login
        li
          a(href="/register") Register

    if (user)
      ul(class="nav navbar-nav")
        li
          a(href="/logout") Logout
      p(class="navbar-text navbar-right") Signed in as #{user.username}


.container

    form(action='/query', method='post')
        .form-group.address
            label Find bathroom near
            input.form-control.start-address(type='text', name='startAddress', placeholder='Enter address', required)
        .form-group.radius
            label Search range
            input.form-control.search-radius(type='number', name='searchRadius', value='500', required)
        .form-group.submit
            input.form-control.btn.btn-primary.submit-button(type='submit', value='Search')

script(src="/js/geolocation.js")
