.navbar.navbar-default
  .container-fluid
    .navbar-header
      a(class="navbar-brand" href="/") Out House

    if (!user)
      ul(class="nav navbar-nav")
        li
          a(href="/login") Login
        li
          a(href="/register") Register

    if (user)
      ul(class="nav navbar-nav")
        li
          a(href="/profile") Profile
        li
          a(href="/logout") Logout
      p(class="navbar-text navbar-right") Signed in as #{user.username}


.container

    form(action='/query', method='post', id='query-form', class="form-horizontal")
        .form-group.address
            label Find bathroom near
            input.form-control.start-address(type='text', id='auto', name='startAddress', placeholder='Enter address', onFocus='initializeAutoComplete()', required)
        .form-group
            input.form-control(type='button', name='gps', class='btn btn-info' value='Use my location', onclick='initializeGeolocation()')
        .form-group.radius
            label Search range
            input.form-control.search-radius(type='number', name='searchRadius', value='500', required)
        .form-group.transport-method
            label Transportation Method
            input(type="radio", name="transportMethod", value="Walking", checked)
            | Walking
            input(type="radio", name="transportMethod", value="Driving")
            | Driving
            input(type="radio", name="transportMethod", value="Bicycling")
            | Bicycling
            input(type="radio", name="transportMethod", value="Transit")
            | Transit
        .form-group.submit
            input.form-control.btn.btn-primary.submit-button(type='submit', value='Search')

script(src="/js/geolocation.js")
script(src="/js/autocomplete.js")
script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places")
