.navbar.navbar-default
  .container
    .navbar-header
      a(class="navbar-brand" href="/") Out House

    ul(class="nav navbar-nav")
      li(class="active")
        a(href="/login") Login
      li
        a(href="/register") Register

.container
  .col-md-6.col-md-offset-3
    h1 Login

    form(role='form', action="/login", method="post", id="login-form")
      .form-group.username
        label Username
        input.form-control(type='text', name="username", required)
      .form-group.password
        label Password
        input.form-control(type='password', name="password", required)
      button.btn.btn-primary(type='submit') Submit
