.container
    h1
        a(href='/')= title

    .row
        .col-md-6
            .search-param
                label Bathroom near
                #address= address
        .col-md-6
            .search-param
                label Radius
                #radius= radius

    .row
        #map-canvas

script(src="https://maps.googleapis.com/maps/api/js?libraries=places")
script(src="/js/googlemaps.js")