.container
    h1
        a(href='/')= title

    .row
        .col-md-4
            label Origin
        .col-md-4
            label Destination
        .col-md-4
            label Radius

    .row
        .col-md-4
            .search-param
                #address= address
        .col-md-4
            .search-param
                #destination N/A
        .col-md-4
            .search-param
                #radius= radius

    .row
        .map
            label Bathrooms
            #map-canvas

    .row
        .col-md-6
            .map
                label Directions
                #map-directions
        .col-md-6
            .directions-panel
                #directions-panel

script(src="https://maps.googleapis.com/maps/api/js?libraries=places")
script(src="/js/googlemaps.js")