.navbar.navbar-default
  .container-fluid
    .navbar-header
      a(class="navbar-brand" href="/") Out House

    if (!user)
      ul(class="nav navbar-nav")
        li
          a(href="/login") Login
        li(class="active")
          a(href="/register") Register

    if (user)
      ul(class="nav navbar-nav")
        li
          a(href="/logout") Logout
      p(class="navbar-text navbar-right") Signed in as #{user.username}


.container
  h1 Register
  br
  form(role='form', action="/register", method="post", id="register-form")
    .form-group.username
      label Username
      input.form-control(type='text', name="username", required)
    .form-group.password
      label Password
      input.form-control(type='password', name="password", required)
    button.btn.btn-primary(type='submit') Submit

  br
  h4= info
