.navbar.navbar-default
  .container-fluid
    .navbar-header
      a(class="navbar-brand" href="/") Out House

    ul(class="nav navbar-nav")
      li
        a(href="/login") Login
      li(class="active")
        a(href="/register") Register

.container
  h1 Register
  br
  form(role='form', action="/register", method="post", id="register-form")
    .form-group.username
      label Username
      input.form-control(type='text', name="username", required)
    .form-group.email
      label Email
      input.form-control(type='email', name="email", required)
    .form-group.password
      label Password
      input.form-control(type='password', name="password", required)
    .form-group.gender
      label Gender
      input(type="radio", name="gender", value="male")
      | Male
      input(type="radio", name="gender", value="female")
      | Female
    .form-group.age
      label Age
      input.form-control(type='number', name="age")
    button.btn.btn-primary(type='submit') Submit

  br
  h4= info
