.container
    p Bathroom near:&nbsp;
    p= address
    p Radius:&nbsp;
    p= radius

    #map-canvas

script(src="https://maps.googleapis.com/maps/api/js?libraries=places")
script(src="/js/googleplaces.js")