.container
    label Bathroom near
    #address= address

    label Radius
    #radius= radius

    #map-canvas

script(src="https://maps.googleapis.com/maps/api/js?libraries=places")
script(src="/js/googleplaces.js")