body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.row {
    margin: 20px 0;
}

/*
 * query.jade
 */

.search-param div {
    display: inline-block;
    margin-left: 20px;
}

#map-canvas, #map-directions {
    height: 400px;
}

.place-coords {
    visibility: hidden;
}