body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

/*
 * index.jade
 */

 .logo {
   margin: 0 0 20px 100px;
 }

 .logo img {
   opacity: 0.87;
   filter: alpha(opacity=80); /* For IE8 and earlier */
 }

 .transport-method input[type=radio] {
   margin-left: 15px;
   margin-right: 2px;
 }

 .radius-unit {
   color: #888;
 }

 /*
  * register.jade
  */

  .gender input[type=radio] {
    margin-left: 15px;
    margin-right: 2px;
  }

/*
 * query.jade
 */

 .info {
   color: #888;
   font-size: 12px;
   margin-bottom: 20px;
   display: none;
 }

 .num_bathrooms, .direction-dest {
   display: inline;
 }

 .map {
   margin-bottom: 200px;
 }

 .map-title {
   visibility: hidden;
 }

.direction {
  visibility: hidden;
  height: 500px;
}

.direction h2 {
  margin-left: 15px;
}

#map-canvas {
    height: 500px;
}

#map-directions {
  height: 400px;
}

.directions-panel {
	margin-bottom: 10px;
}

.set-destination {
	margin-top: 5px;
}

#check-in {
  visibility: hidden;
  margin-bottom: 40px;
}

#check-in h2 {
  display: inline;
}

#bathroom-name {
  display: inline;
}

.form-checkin {
  display: inline;
  margin-left: 20px;
}
