body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

/*
 * query.jade
 */

.map {
	margin-top: 20px;
}

#map-canvas, #map-directions {
    height: 400px;
}

.set-destination {
	margin-top: 5px;
}